<div class="user-home">
    <h2 class="user-header"> Logged in as <%= current_user.email %></h2>

    

    </div class="quiz-container">
        <h3> User Created Quizzes </h3>
        <% @created_quizzes.each do |quiz| %>
            <div class="quiz">
                <%= quiz.title %>
            </div>
        <% end %>

        <h3> Quizzes Taken </h3>    
        <% @taken_quizzes.each do |quiz| %>
            <div class="quiz">
                <%= quiz.title %>
            </div>
        <% end %>
    </div>
</div>