<!DOCTYPE html>
<html>
    <head>
        <title> Quiz-Knows </title>
    </head>
    <body>
        <header>
            <h1 class="logo"> Quiz-Knows </h1>
            <nav>   
                <ul>
                    <li><a href="/"> about </a></li>
                    <li><a href="/"> enter social-security </a></li>
                    <li><a href="/"> getting started </a></li>
                </ul>
            </nav>
        </header>
        <div class="sidebar">
            <% @ads.each do |ad| %>
                <%= link_to ad[:url] do %> 
                    <div class="ad">
                        <%= ad[:name] %>
                    </div>
                <% end %>
            <%end%>
        </div>
        <div class="container">
            <%=yield%>
        </div>
        <footer>
            Give us the moneys.com
        </footer>
    </body>

</html>
