
<div class="login-form">
    <h1> Please log in </h1>
    <%= form_tag sessions_path do %>
        <div class="inner-login-form">
            <input type="text" value="" name="username" placeholder="username" >
            <br>
            <input type="password" value="" name="password" placeholder="password" >
            <br>
            <input class="button" type='submit' value="login">
            <%= link_to new_user_path do %>
                <input class="button" type="button" value="new user" >
            <% end %>
        </div>
    <% end %>
</div>