/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d2d2d2;
    color: #f50000; 

}
@keyframes spinner {
    to {transform: rotateY(360deg);}
}
.spin {
    display: inline-block;
    color: red;
    font-size: 64px;
    animation: spinner 2s linear infinite;
}

header {
    background: #000000; 
    color: #fff;
    padding: 10px;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header ul li {
    margin: 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #f50000; 
    border-bottom: 2px solid #f50000; 
}

header ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255); 
    color: #fff;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

input:not([type="radio"]) {
    width: 260px;
    margin: 10px;
    padding: 5px;
    height:2rem;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
}

input:focus {
    box-shadow: none;
}
.button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 2px black;
}

.button:active {
    box-shadow: none;
}
.sidebar {
    position: absolute;
    background: #000000;
    padding: 10px;
    width: 160px;
    height: 100%;
    overflow: scroll;
    padding-bottom: 350px;
}

.container {
    margin-left: 160px;
    width: calc(100% - 160px);
}

.logout a {
    color: #d2eff4;
    font-size: 22px;
}

.errors, .notice {
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.errors, .red {
    color: red;
}

.notice {
    color: rgb(31, 181, 53);
}

input[disabled] {
    background: #d2d2d2;
    box-shadow: none;
}

.stat {
    margin-bottom: 5px;
    height: 120px;
    background: #d2d2d2;
    padding: 5px;
    word-wrap: break-word;
}

.ads {
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    background: black;
}

.ad {
    margin: 0 5px;
}
.ad img {
    width: 250px;
    height: 195px;
    margin: 0;
    padding:0;
}
.ad img:hover{
    cursor: pointer;
}




