// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-home {
    padding: 5px;
}

.user-header {
    text-align: right;
    font-size: 14px;
    color: #074462; 
}