<h3> STATS </h3>
<div class="stat">
    <h6> Quiz Count</h6>
    <%= Quiz.all.count %>
</div>
<div class="stat">
    <h6> Newest Quiz</h6>
    <%= Quiz.newest_quiz.title %>
</div>
<div class="stat">
    <h6> Oldest Quiz</h6>
    <%= Quiz.oldest_quiz.title %>
</div>



